<?xml version="1.0" encoding="utf-8"?>
<manifest
xmlns:android="http://schemas.android.com/apk/res/android"
package="com.dialog.sokchanny.myapplication">

<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

<application android:allowBackup="true" android:configChanges="keyboard" android:icon="@mipmap/ic_launcher"
    android:label="@string/app_name" android:roundIcon="@mipmap/ic_launcher_round"
    android:supportsRtl="true" android:theme="@style/AppTheme">
    <meta-data android:name="com.google.android.geo.API_KEY" android:value="@string/google_maps_key" />

    <!--&lt;!&ndash; it change to be first response &ndash;&gt;-->
    <!--<activity android:name=".controller.HomeActivity">-->
    <!--<intent-filter>-->
    <!--<action android:name="android.intent.action.MAIN" />-->
    <!--<category android:name="android.intent.category.LAUNCHER" />-->
    <!--</intent-filter>-->
    <!--</activity>-->

    <!-- it change to be first response -->
    <activity android:name=".controller.LaunchScreen.LaunchScreenActivity">
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />
            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
    </activity>
    <activity android:name=".controller.Main.HomeActivity" />
    <activity android:name=".controller.detail.HouseDetailActivity" />
    <activity android:name=".controller.account.AccountActivity" />
    <activity android:name=".controller.Login.Login" />
</application>
</manifest>

